body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #226b9c;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 5rem 0 1rem 0;
}
